TYPEORM_CONNECTION=mysql
TYPEORM_DATABASE=nest_clean_arch
TYPEORM_ENTITIES=src/post/database/mysql/**/*.entity.ts
TYPEORM_HOST=localhost
TYPEORM_LOGGING=1
TYPEORM_MIGRATIONS=src/migrations/**/*.ts
TYPEORM_MIGRATIONS_DIR=src/migrations
TYPEORM_PASSWORD=password
TYPEORM_PORT=3306
TYPEORM_USERNAME=root
